mixin banner(addClass)
  // banner
  .banner.section(class= addClass)
    .container 
      .banner__block 
        .banner__img 
          img(src="img/leaves.png", alt="")
        .banner__content 
          .subtitle.subtitle--white Получите больше преимуществ работая с нами
          a(href="#").banner__link Узнайте подробнее
  // /banner