mixin card-product(addClass)
  .card-product(class= addClass)

    .card-product__top 

      .card-product__stickers 
        .card-product__sticker.card-product__sticker--green Новинка
        .card-product__sticker.card-product__sticker--green-border PV

      .card-product__favorite 
        label 
          input(type="checkbox", name="favorite")
          span 

    a(href="#").card-product__img 
      img(src="img/products/img-1.jpg", alt="")

    .card-product__price 1 200 ₽

    a(href="#").card-product__title Пробиотики из сухого верблюжьего молока TUODADA

    if addClass
      .card-product__btn 
        button.btn.btn--blue Ожидается поступление
    else 
      .card-product__btn.js-card-product__btn--instock
        button.btn.btn--blue Купить

    .card-product__hideblock 
    
      .card-product__hideblock-btn 
        button.btn.btn--green В корзину

      .card-product__counter
        .counter.js-counter
          .counter__btn.js-counter-minus 
            svg(class="icon-minus")
              use(xlink:href="img/sprite.svg#minus")
          .counter__input.js-counter-input
            input(type="text" value="1" maxlength="3")
          .counter__btn.js-counter-plus 
            svg(class="icon-plus")
              use(xlink:href="img/sprite.svg#plus")