// scrool-up
.scrool-up.js-scrollup
  .scrool-up__arrow 
    svg(class="icon-arrow-middle")
      use(xlink:href="img/sprite.svg#arrow-middle")
  .scrool-up__dog 
    svg(class="icon-dog")
      use(xlink:href="img/sprite.svg#dog")
// /scrool-up