// header
header#headerSticky.header

  .header__mobile 
    .container 
      a(href="#").header__logo-mobile
        img(src="img/logo.svg", alt="")
      .hamburger.hamburger--squeeze.js-drop-menu(data-drop="menuMobile")
        .hamburger-box
          .hamburger-inner 
  .header__container#menuMobile 
    .header__top 
      .container 

        .header__info 
          ul
            li 
              a(href="#") Москва
            li 
              a(href="#") Доставка и оплата

        .header__social 
          ul 
            li 
              a(href="#") 
                svg(class="icon-vk")
                  use(xlink:href="img/sprite.svg#vk")
            li 
              a(href="#") 
                svg(class="icon-telegram")
                  use(xlink:href="img/sprite.svg#telegram")

        .header__login 
          ul 
            li 
              a(href="#") Вход
            li 
              a(href="#") Регистрация

    .header__middle 
      .container 
        a(href="#").header__logo
          img(src="img/logo.svg", alt="")

        .header__close.js-drop-close(data-drop="menuMobile")
          
        .header__menu 
          ul 
            li 
              a(href="#").active Главная
            li 
              a(href="#") О компании
            li 
              a(href="#") Продукция
            li 
              a(href="#") Как начать свой бизнес
            li 
              a(href="#") Контакты

        .header__tel 
          a(href="tel:88002001122") 8-800-200-1122
          span Звонок бесплатный

    .header__bottom 
      .container 

        .header__catalog-btn
          button.btn.btn--blue.js-drop-menu(data-drop="menuCatalog")
            | Каталог
            svg(class="icon-grid")
              use(xlink:href="img/sprite.svg#grid")
              
        form(action="#").header__search 
          input(type="text" placeholder="Найти...")
          button(type="submit")
            svg(class="icon-search")
              use(xlink:href="img/sprite.svg#search")

        .header__controll 
        
          .header__controll-item
            | Избранное
            .header__controll-icon 
              span 9
              svg(class="icon-heart")
                use(xlink:href="img/sprite.svg#heart")
            .header__controll-drop 
              .header__controll-drop-inner 
                .header__controll-products 
                  .header__controll-product 
                    .header__controll-img 
                      img(src="img/products/img-1.jpg", alt="")
                    .header__controll-content 
                      .header__controll-title Пробиотики из сухого верблюжьего молока TUODADA
                      .header__controll-middle 
                        .header__controll-price 1 200 Р
                        .header__controll-counter 
                          .counter.js-counter
                            .counter__btn.js-counter-minus 
                              svg(class="icon-minus")
                                use(xlink:href="img/sprite.svg#minus")
                            .counter__input.js-counter-input
                              input(type="text" value="1" maxlength="3")
                            .counter__btn.js-counter-plus 
                              svg(class="icon-plus")
                                use(xlink:href="img/sprite.svg#plus")
                      .header__controll-bottom 
                          span 1 200 Р / шт.
                          span 25 баллов
                    .header__controll-close 
                .header__controll-result 
                  span Итого: 
                  span 2 400 Р
                .header__controll-btn 
                  a(href="#").btn.btn--blue Перейти в корзину

          .header__controll-item
            | Корзина
            .header__controll-icon 
              svg(class="icon-cart")
                use(xlink:href="img/sprite.svg#cart")
              span 1
            .header__controll-drop 
              .header__controll-drop-inner 
                .header__controll-products 
                  .header__controll-product 
                    .header__controll-img 
                      img(src="img/products/img-1.jpg", alt="")
                    .header__controll-content 
                      .header__controll-title Пробиотики из сухого верблюжьего молока TUODADA
                      .header__controll-middle 
                        .header__controll-price 1 200 Р
                        .header__controll-counter 
                          .counter.js-counter
                            .counter__btn.js-counter-minus 
                              svg(class="icon-minus")
                                use(xlink:href="img/sprite.svg#minus")
                            .counter__input.js-counter-input
                              input(type="text" value="1" maxlength="3")
                            .counter__btn.js-counter-plus 
                              svg(class="icon-plus")
                                use(xlink:href="img/sprite.svg#plus")
                      .header__controll-bottom 
                          span 1 200 Р / шт.
                          span 25 баллов
                    .header__controll-close 
                  .header__controll-product 
                    .header__controll-img 
                      img(src="img/products/img-1.jpg", alt="")
                    .header__controll-content 
                      .header__controll-title Пробиотики из сухого верблюжьего молока TUODADA
                      .header__controll-middle 
                        .header__controll-price 1 200 Р
                        .header__controll-counter 
                          .counter.js-counter
                            .counter__btn.js-counter-minus 
                              svg(class="icon-minus")
                                use(xlink:href="img/sprite.svg#minus")
                            .counter__input.js-counter-input
                              input(type="text" value="1" maxlength="3")
                            .counter__btn.js-counter-plus 
                              svg(class="icon-plus")
                                use(xlink:href="img/sprite.svg#plus")
                      .header__controll-bottom 
                          span 1 200 Р / шт.
                          span 25 баллов
                    .header__controll-close 
                .header__controll-result 
                  span Итого: 
                  span 2 400 Р
                .header__controll-btn 
                  a(href="#").btn.btn--blue Перейти в корзину

  .header__catalog 
    // catalog-menu
    .js-tabs.catalog-menu#menuCatalog
      .container 
        .catalog-menu__head 
          .subtitle.subtitle--blue  Каталог
          .catalog-menu__close.js-drop-close(data-drop="menuCatalog") Закрыть
            span 
          .catalog-menu__controll 
            ul.catalog-menu__triggers 
              li 
                a(href="#tab_1").catalog-menu__trigger.js-tabs-trigger.active Балловые товары
              li 
                a(href="#tab_2").catalog-menu__trigger.js-tabs-trigger Купонные товары
              li 
                a(href="#tab_3").catalog-menu__trigger.js-tabs-trigger Стартовые наборы
            form(action="#").catalog-menu__search 
              input(type="text" placeholder="Найти...")
              button(type="submit")
                svg(class="icon-search")
                  use(xlink:href="img/sprite.svg#search")
        .catalog-menu__contents 
          .catalog-menu__content.js-tabs-content.open(data-href="#tab_1")
            .row.row-cols-xl-5.row-cols-lg-4.row-cols-3
              .col 
                a(href="#").catalog-menu__card 
                  span Гигиена полости рта
                  svg(class="icon-bubble")
                    use(xlink:href="img/sprite.svg#bubble")
              .col 
                a(href="#").catalog-menu__card 
                  span Детские товары
                  svg(class="icon-ship")
                    use(xlink:href="img/sprite.svg#ship")
              .col 
                a(href="#").catalog-menu__card 
                  span Личная гигиена
                  svg(class="icon-face")
                    use(xlink:href="img/sprite.svg#face")
              .col 
                a(href="#").catalog-menu__card 
                  span Продукты для здоровья 
                  svg(class="icon-carrot")
                    use(xlink:href="img/sprite.svg#carrot")
              .col 
                a(href="#").catalog-menu__card 
                  span Средства для волос
                  svg(class="icon-hair")
                    use(xlink:href="img/sprite.svg#hair")
              .col 
                a(href="#").catalog-menu__card 
                  span Уходовая косметика
                  svg(class="icon-cup")
                    use(xlink:href="img/sprite.svg#cup")
              .col 
                a(href="#").catalog-menu__card 
                  span Декоративная косметика
                  svg(class="icon-makeup")
                    use(xlink:href="img/sprite.svg#makeup")
              .col 
                a(href="#").catalog-menu__card 
                  span Другое
                  svg(class="icon-diamond")
                    use(xlink:href="img/sprite.svg#diamond")
              .col 
                a(href="#").catalog-menu__card 
                  span Парфюм
                  svg(class="icon-bottle")
                    use(xlink:href="img/sprite.svg#bottle")
              .col 
                a(href="#").catalog-menu__card 
                  span Салфетки и бумага
                  svg(class="icon-layers")
                    use(xlink:href="img/sprite.svg#layers")
              .col 
                a(href="#").catalog-menu__card 
                  span Товары для дома
                  svg(class="icon-lamp")
                    use(xlink:href="img/sprite.svg#lamp")
          .catalog-menu__content.js-tabs-content(data-href="#tab_2")
            .row.row-cols-xl-5.row-cols-lg-4.row-cols-3
              .col 
                a(href="#").catalog-menu__card 
                  span Гигиена полости рта
                  svg(class="icon-bubble")
                    use(xlink:href="img/sprite.svg#bubble")
              .col 
                a(href="#").catalog-menu__card 
                  span Детские товары
                  svg(class="icon-ship")
                    use(xlink:href="img/sprite.svg#ship")
              .col 
                a(href="#").catalog-menu__card 
                  span Личная гигиена
                  svg(class="icon-face")
                    use(xlink:href="img/sprite.svg#face")
              .col 
                a(href="#").catalog-menu__card 
                  span Продукты для здоровья 
                  svg(class="icon-carrot")
                    use(xlink:href="img/sprite.svg#carrot")
              .col 
                a(href="#").catalog-menu__card 
                  span Средства для волос
                  svg(class="icon-hair")
                    use(xlink:href="img/sprite.svg#hair")
              .col 
                a(href="#").catalog-menu__card 
                  span Уходовая косметика
                  svg(class="icon-cup")
                    use(xlink:href="img/sprite.svg#cup")
              .col 
                a(href="#").catalog-menu__card 
                  span Декоративная косметика
                  svg(class="icon-makeup")
                    use(xlink:href="img/sprite.svg#makeup")
              .col 
                a(href="#").catalog-menu__card 
                  span Другое
                  svg(class="icon-diamond")
                    use(xlink:href="img/sprite.svg#diamond")
          .catalog-menu__content.js-tabs-content(data-href="#tab_3")
            .row.row-cols-xl-5.row-cols-lg-4.row-cols-3
              .col 
                a(href="#").catalog-menu__card 
                  span Продукты для здоровья 
                  svg(class="icon-carrot")
                    use(xlink:href="img/sprite.svg#carrot")
              .col 
                a(href="#").catalog-menu__card 
                  span Средства для волос
                  svg(class="icon-hair")
                    use(xlink:href="img/sprite.svg#hair")
              .col 
                a(href="#").catalog-menu__card 
                  span Уходовая косметика
                  svg(class="icon-cup")
                    use(xlink:href="img/sprite.svg#cup")
              .col 
                a(href="#").catalog-menu__card 
                  span Декоративная косметика
                  svg(class="icon-makeup")
                    use(xlink:href="img/sprite.svg#makeup")
              .col 
                a(href="#").catalog-menu__card 
                  span Другое
                  svg(class="icon-diamond")
                    use(xlink:href="img/sprite.svg#diamond")
              .col 
                a(href="#").catalog-menu__card 
                  span Парфюм
                  svg(class="icon-bottle")
                    use(xlink:href="img/sprite.svg#bottle")
              .col 
                a(href="#").catalog-menu__card 
                  span Салфетки и бумага
                  svg(class="icon-layers")
                    use(xlink:href="img/sprite.svg#layers")
              .col 
                a(href="#").catalog-menu__card 
                  span Товары для дома
                  svg(class="icon-lamp")
                    use(xlink:href="img/sprite.svg#lamp")
    // /catalog-menu

//	/header