extends core/base.pug

block title 
  title Оформление заказа

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              span Контакты
      // /breadcrumbs

      // reservation
      form(action="#").reservation.section
        .container 

          h1.title.title--green Контакты

          .reservation__line 

          .reservation__item 
            .row.gy-3
              .col-lg-6.col-md-7
                .reservation__content 
                  .reservation__num 001
                  .reservation__text 
                    h2 Главный офис и шоурум в г. Москва
                    div 
                      p 
                        b Адрес: 
                      p г. Москва, Сельскохозяйственная ул, 38к1
                    div 
                      p 
                        b Режим работы: 
                      p Пн-Чт с 10:00 до 19:00<br>Пт-Сб с 10:00 до 18:00<br>Вс — Выходной
                    div 
                      p 
                        b Телефон: 
                      p 8 (800) 333-79-76
                    div 
                      p 
                        b e-mail: 
                      p famall2022@mail.ru
              .col-lg-6.col-md-5
                .reservation__map 

          .reservation__line 

          .reservation__item 
            .row.gy-3
              .col-lg-6.col-md-7
                .reservation__content 
                  .reservation__num 002
                  .reservation__text 
                    h2 Офис и шоурум в Узбекистане
                    div 
                      p 
                        b Адрес: 
                      p Узбекистан, город Ташкент, Мирзо Улугбекский район, улица Дурмон йули, 9
                    div 
                      p 
                        b Режим работы: 
                      p Пн-Чт с 10:00 до 19:00<br>Пт-Сб с 10:00 до 18:00<br>Вс — Выходной
                    div 
                      p 
                        b Телефон: 
                      p 8 (800) 333-79-76
                    div 
                      p 
                        b e-mail: 
                      p famall2022@mail.ru
              .col-lg-6.col-md-5
                .reservation__map 

          .reservation__line 

          .reservation__item 
            .row.gy-3
              .col-lg-6.col-md-7
                .reservation__content 
                  .reservation__num 003
                  .reservation__text 
                    h2 Офис и шоурум в Казахстане
                    div 
                      p 
                        b Адрес: 
                      p Казахстан, город Астана, Мангилик ел 52, блок б2, офис 17
                    div 
                      p 
                        b Режим работы: 
                      p Пн-Чт с 10:00 до 19:00<br>Пт-Сб с 10:00 до 18:00<br>Вс — Выходной
                    div 
                      p 
                        b Телефон: 
                      p 8 (800) 333-79-76
                    div 
                      p 
                        b e-mail: 
                      p famall2022@mail.ru
              .col-lg-6.col-md-5
                .reservation__map 

          .reservation__line 

          .reservation__item 
            .row.gy-3
              .col-lg-6.col-md-7
                .reservation__content 
                  .reservation__num 004
                  .reservation__text 
                    h2 Офис и шоурум в Монголии
                    div 
                      p 
                        b Адрес: 
                      p Чингелтейский район, Их тойруу, 5 хороо,Премиум Палас 612 Улан-Батор Монголия
                    div 
                      p 
                        b Режим работы: 
                      p Пн-Чт с 10:00 до 19:00<br>Пт-Сб с 10:00 до 18:00<br>Вс — Выходной
                    div 
                      p 
                        b Телефон: 
                      p 8 (800) 333-79-76
                    div 
                      p 
                        b e-mail: 
                      p famall2022@mail.ru
              .col-lg-6.col-md-5
                .reservation__map 

          .reservation__line 

          .reservation__item 
            .row.gy-3
              .col-lg-6.col-md-7
                .reservation__content 
                  .reservation__num 005
                  .reservation__text 
                    h2 Отправить сообщение
                    div 
                      p Вы можете связаться с нами, отправив нам сообщение через данную форму
                    p 
                      small Нажимая на кнопку «Подписаться» Вы соглашаетесь с обработкой ваших персональных данных в соответствии с нашей Политикой конфиденциальности
              .col-lg-6.col-md-5
                .reservation__form 
                  // input
                  .input
                    input(type="text" placeholder="Ваше имя*")
                  // /input
                  // input
                  .input
                    input(type="text" placeholder="Ваша фамилия*")
                  // /input
                  // input
                  .input
                    input(type="text" placeholder="Ваш email*")
                  // /input
                  // input
                  .input
                    input(type="text" placeholder="Ваш телефон*")
                  // /input
                  // textarea
                  .textarea
                    textarea(placeholder="Дополнительная информация")
                  // /textarea

          .reservation__buttons.reservation__buttons--mb80
            .btn.btn--green-border Отмена
            button(type="submit").btn.btn--blue Оформить

          .reservation__line 
          
      // /reservation

      include blocks/banner.pug
      +banner('section--mb120')

      include blocks/scrool-up.pug

    include core/footer.pug
