extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .welcome__slider 
          #sliderWelcome 
            .swiper-wrapper 

              .swiper-slide 
                .welcome__block 
                  .container 
                    .welcome__img 
                      img(src="img/welcome-slider/img-1.jpg", alt="")
                    .welcome__content 
                      .title Высокотехнологичное производство
                      .welcome__text Мы постоянно работаем над усовершенствованием нашей продукции и технологии
                      .welcome__controll 
                        .welcome__btn 
                          a(href="#").btn.btn--white-border Подробнее
                        .welcome__arrows 
                          .welcome__arrow.welcome__arrow--prev.swiper-button-prev 
                            svg(class="icon-arrow-middle")
                              use(xlink:href="img/sprite.svg#arrow-middle")
                          .welcome__arrow.welcome__arrow--next.swiper-button-next 
                            svg(class="icon-arrow-middle")
                              use(xlink:href="img/sprite.svg#arrow-middle")

              .swiper-slide 
                .welcome__block 
                  .container 
                    .welcome__img 
                      img(src="img/welcome-slider/img-2.jpg", alt="")
                    .welcome__content 
                      .title Природа на службе вашего здоровья и процветания
                      .welcome__text С самого начала своего развития наша компания ориентирована на самые высокие технологии.
                      .welcome__controll 
                        .welcome__btn 
                          a(href="#").btn.btn--white-border Подробнее
                        .welcome__arrows 
                          .welcome__arrow.welcome__arrow--prev.swiper-button-prev 
                            svg(class="icon-arrow-middle")
                              use(xlink:href="img/sprite.svg#arrow-middle")
                          .welcome__arrow.welcome__arrow--next.swiper-button-next 
                            svg(class="icon-arrow-middle")
                              use(xlink:href="img/sprite.svg#arrow-middle")
      // /welcome

      // benefit
      section.benefit.section
        .row.g-0
          .col-md-6 
            .benefit__block
              .benefit__img 
                img(src="img/benefit/img-1.jpg", alt="") 
              .benefit__content 
                h2.subtitle Быстрый старт бизнеса
                .benefit__text 
                  p Мы поможем все организовать для успешного старта вашего бизнеса и для этого у нас есть:
                  ul 
                    li Удобные инструменты, для получения внушительных доходов
                    li Велком-пакет включающий в себя план развития, опытное комьюнити и многое другое
          .col-md-6 
            .benefit__block
              .benefit__img 
                img(src="img/benefit/img-2.jpg", alt="") 
              .benefit__content 
                h2.subtitle Финансовая свобода
                .benefit__text 
                  p Мы поможем все организовать для успешного старта вашего бизнеса и для этого у нас есть:
                  ul 
                    li Удобные инструменты, для получения внушительных доходов
                    li Велком-пакет включающий в себя план развития, опытное комьюнити и многое другое
          .col-md-6 
            .benefit__block
              .benefit__img 
                img(src="img/benefit/img-3.jpg", alt="") 
              .benefit__content 
                h2.subtitle Экологическая продукция
                .benefit__text 
                  p Мы поможем все организовать для успешного старта вашего бизнеса и для этого у нас есть:
                  ul 
                    li Удобные инструменты, для получения внушительных доходов
                    li Велком-пакет включающий в себя план развития, опытное комьюнити и многое другое
          .col-md-6 
            .benefit__block
              .benefit__img 
                img(src="img/benefit/img-4.jpg", alt="") 
              .benefit__content 
                h2.subtitle Команда лидеров
                .benefit__text 
                  p Мы поможем все организовать для успешного старта вашего бизнеса и для этого у нас есть:
                  ul 
                    li Удобные инструменты, для получения внушительных доходов
                    li Велком-пакет включающий в себя план развития, опытное комьюнити и многое другое
      // /benefit

      // brands
      section.brands.section
        .container 
          h2.subtitle Наши бренды:
        .brands__slider 
          #sliderBrabds 
            .swiper-wrapper 
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-1.png", alt="")
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-2.png", alt="")
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-3.png", alt="")
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-4.png", alt="")
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-5.png", alt="")
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-6.png", alt="")
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-7.png", alt="")
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-8.png", alt="")
              .swiper-slide 
                .brands__item 
                  img(src="img/brands/img-9.png", alt="")
          .brands__pagination.swiper-pagination
      // /brands

      include blocks/cards-slider.pug

      // banner
      .banner.section
        .container 
          .banner__block 
            .banner__img 
              img(src="img/leaves.png", alt="")
            .banner__content 
              .subtitle.subtitle--white Получите больше преимуществ работая с нами
              a(href="#").banner__link Узнайте подробнее
      // /banner

      include blocks/cards-slider.pug

    include core/footer.pug
