extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .container
          h1 Навигация по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="catalog.html") Каталог
            li 
              a(href="category.html") Категория
            li 
              a(href="product.html") Страница товара
            li 
              a(href="cart.html") Корзина
            li 
              a(href="reservation.html") Оформление заказа
            li 
              a(href="contact.html") Контакты
            li 
              a(href="about.html") О компании Greenleaf
            li 
              a(href="login.html") Авторизация
            li 
              a(href="registration.html") Регистрация
            li 
              a(href="news.html") Новости
            li 
              a(href="news-page.html") Страница одной новости
            li 
              a(href="lk.html") Личный кабинет

    include core/footer.pug
