extends core/base.pug

block title 
  title Страница товара

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .container 
          ul 
            li 
              a(href="#") Главная
            li 
              a(href="#") Интернет-магазин
            li 
              a(href="#") Балловые продукты
            li 
              span Пробиотики из сухого верблюжьего молока TUODADA
      // /breadcrumbs

      // product
      .product
        .container 
          h1.title.title--green Пробиотики из сухого верблюжьего молока TUODADA
          .row.gy-3
            .col-md-6 
              .product__slider 
                #sliderProduct 
                  .swiper-wrapper 
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__img 
                        img(src="img/products/img-1.jpg", alt="")
                #swiperProductThumb 
                  .swiper-wrapper 
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
                    .swiper-slide 
                      .product__thumb 
                        img(src="img/products/img-1.jpg", alt="")
            .col-md-6 
              .product__info 
                .product__info-head 
                  .product__price 1 000 ₽
                  .product__btn 
                    button.btn.btn--blue В корзину
                .product__volume Объем: 300 г
              .product__text 
                p Верблюжье молоко и ферментированные продукты на его основе обладают высокой пищевой ценностью. Оно содержит ряд важных микро и макроэлементов – кальций, цинк, кобальт, железо, калий, фосфор, а также витамины А, С и группы В.
                p Служит природным источником инсулина; улучшает состояние костной системы организма, укрепляет зубы; борется с проблемами кишечника.
                p Употребление верблюжьего молока на регулярной основе значительно повышает и укрепляет иммунный потенциал организма, делает организм устойчивым в отношении широкого спектра заболеваний.
      // /product

      // cross-sale
      .cross-sale.section
        .container 
          h2.cross-sale__title Другие товары из категории: 
            span Продукты для здоровья
          .cross-sale__cards 
            .row.gy-3.justify-content-center 
              .col-lg-4.col-sm-6 
                include blocks/card-product.pug
                +card-product
              .col-lg-4.col-sm-6 
                +card-product
              .col-lg-4.col-sm-6.d-sm-none.d-lg-block
                +card-product
      // /cross-sale

      include blocks/banner.pug
      +banner('section--mb120')

    include core/footer.pug
