/* benefit */
.benefit { 
  &__block {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 456px;
    padding: 80px 120px;
    position: relative;
    color: #fff;
  }
  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    max-width: 500px;
    margin-top: auto;
    position: relative;
    z-index: 1;
  }
  .subtitle {
    margin-bottom: 16px;
  }
  &__text {
    display: none;
    p {
      font-weight: 600;
      margin-bottom: 16px;
    }
    ul {
      li {
        padding-left: 15px;
        margin-bottom: 8px;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: #fff;
          position: absolute;
          top: 10px;
          left: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  } 
  @include media-breakpoint-down(xl) {
    &__block {
      padding: 80px 40px;
    }
  }
  @include media-breakpoint-down(md) {
    &__block {
      min-height: 300px;
      padding: 20px 20px;
    }
    .subtitle {
      margin-bottom: 8px;
    }
    &__text {
      p {
        margin-bottom: 8px;
      }
      ul {
        li {
          margin-bottom: 4px;
        }
      }
    }
  }
}
/* /benefit */