/* product */
.product { 
  margin-bottom: 80px;
  .title {
    max-width: 850px;
  }
  &__slider {
    padding: 24px;
    border-radius: 12px;
    border: 1px solid $border_color;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0px rgba(0, 30, 69, 0.12);
    #sliderProduct {
      text-align: center;
      margin-bottom: 16px;
      overflow: hidden;
    }
    #swiperProductThumb {
      width: 190px;
      padding-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      .swiper-slide-thumb-active {
        .product__thumb {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 476px;
    img {
      max-height: 100%;
    }
  }
  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
    user-select: none;
    img {
      display: block;
      max-height: 100%;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: $primary_color;
      position: absolute;
      bottom: -10px;
      left: 0;
      opacity: 0;
    }
    &--video {
      position: relative;
      &:after {
        content: '';
        display: block;
        background-color: rgba(80, 189, 56, 0.40);
        border-radius: 4px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .video__play {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
    }
  }
  &__info {
    padding: 32px;
    background-color: #F8F8F8;
    border-radius: 16px;
    margin-bottom: 32px;
  }
  &__info-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  &__price {
    margin-right: 40px;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: $primary_color;
    white-space: nowrap;
  }
  &__btn {
    
  }
  &__volume {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
  &__text {
    font-size: 18px;
    line-height: 26px;
    color: $text_color_light;
    p {
      margin-bottom: 16px;
    }
  }
  &__video {
    height: 476px;
    .js-youtube {
      height: 100%;
      cursor: pointer;
      user-select: none;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #000;
      iframe {
        width: 100%;
        height: 100%;
      }
      .video__play {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      } 
      &.active {
        &:after {
          display: none;
        }
        .video__play {
          display: none;
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__info {
      padding: 20px;
      margin-bottom: 0;
    }
    &__price {
      margin-right: 10px;
    }
    &__text {
      margin-bottom: 32px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
    &__price {
      font-size: 30px;
    }
    &__text {
      margin-bottom: 24px;
    }
    &__info-head {
      margin-bottom: 16px;
    }
    &__text {
      p {
        margin-bottom: 8px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__img {
      height: 320px;
    }
    &__video {
      height: 320px;
    }
  }
}
/* /product */