/* select-2 */
.select-2 { 
  font-size: 18px;
  line-height: 26px;
  select {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border: 1px solid $border_color;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    line-height: 26px;
  }
}
/* /select-2 */