/* title */
.title { 
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 40px;
  &--green {
    color: $primary_color;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 36px;
  }
}
/* /title */